<div class="happ-container">
    <mat-toolbar>
        <div fxLayout="column">
            <h2>
                Persona24
            </h2>
            <span style="font-size: 12px;">
                        Aplikacja do zarządzani danymi osobowymi w ramach usługi iodo24.pl
                    </span>
        </div>
        <span fxFlex></span>
        <h3>Prośby o zgodę na przetwarzanie danych</h3>
        <span fxFlex></span>
        <img style="height: 50px;" src="../assets/img/1.png">

    </mat-toolbar>


    <div fxLayout="row" style="padding:15px;">
        <div style="max-width: 165px; border: 1px solid rgba(0,0,0,0.3); padding: 33px 20px;" fxLayout="column" fxLayoutAlign="space-around">
            <button routerLink="/main" mat-raised-button>Strona główna</button>
            <button routerLink="/your-data" mat-raised-button>Twoje dane</button>
            <button routerLink="/approvals" color="primary" mat-raised-button>Zgody</button>
            <button routerLink="/appeals" mat-raised-button>Wnioski</button>
            <button routerLink="/information" mat-raised-button>Informacje</button>
        </div>

        <div style="border: 1px solid rgba(0,0,0,0.3); border-left: 0px;padding: 5px; width: 100%;">
            <div fxFlex style="height: 80vh; overflow: auto;">
                <mat-tab-group>
                    <mat-tab label="w toku">

                        <table style="maring: 0px; width: 100%; padding: 3px;">
                            <thead>
                                <tr>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Adresat
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Zbiór danych
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Typ wniosku
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Data złożenia
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Status
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Szczegóły
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-tab>
                    <mat-tab label="wszystkie">

                        <table style="maring: 0px; width: 100%; padding: 3px;">
                            <thead>
                                <tr>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Adresat
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Zbiór danych
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Typ wniosku
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Data złożenia
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Status
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Szczegóły
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-tab>
                    <mat-tab label="zaakceptowane">

                        <table style="maring: 0px; width: 100%; padding: 3px;">
                            <thead>
                                <tr>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Adresat
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Zbiór danych
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Typ wniosku
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Data złożenia
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Status
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Szczegóły
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-tab>
                    <mat-tab label="odrzucone">

                        <table style="maring: 0px; width: 100%; padding: 3px;">
                            <thead>
                                <tr>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Adresat
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Zbiór danych
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Typ wniosku
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Data złożenia
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Status
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Szczegóły
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-tab>
                    <mat-tab label="przedawnione">

                        <table style="maring: 0px; width: 100%; padding: 3px;">
                            <thead>
                                <tr>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Adresat
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Zbiór danych
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Typ wniosku
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Data złożenia
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Status
                                    </td>
                                    <td style="padding: 12px; background: #3f51b5; color: white;">Szczegóły
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                                <tr>
                                    <td>Microsystem</td>
                                    <td>Rekrutacja ciągła</td>
                                    <td>Usunięcie</td>
                                    <td>22/04/2018</td>
                                    <td>Wysłane</td>
                                    <td><button mat-raised-button>Zobacz</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>


</div>