/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.happ-container {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    height: 100vh;
}

body {
    margin: 0px;
}